.btn {
  position: absolute;
  z-index: 999;
  right: 50px;
  bottom: 50px;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-blue {
  background-color: blue;
  color: white;
}
